<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.researchi.admin.mailing.mapper.AdminMailingApplicationMapper">

    <update id="updateDeliveryStatus">
        UPDATE admin_job_application
        SET
            delivery_status = #{deliveryStatus},
            delivery_job_id = #{deliveryJobId},
            delivered_at = #{deliveredAt},
            updated_at = CURRENT_TIMESTAMP
        WHERE id = #{applicationId}
    </update>
</mapper>
