<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.researchi.admin.publicform.mapper.AdminJobApplicationMapper">

    <insert id="insert" parameterType="com.researchi.admin.publicform.domain.AdminJobApplication" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO admin_job_application (
            document_srl,
            applicant_name,
            gender_code,
            birth_date,
            age_text,
            job_text,
            organization_text,
            mobile_phone_enc,
            mobile_phone_masked,
            tel_phone_enc,
            tel_phone_masked,
            region_text,
            address_enc,
            address_masked,
            extra_comment,
            prior_research_text,
            email_address_enc,
            email_address_masked,
            notify_email_yn,
            notify_sms_yn,
            notify_keyword_yn,
            application_status,
            is_new_applicant,
            is_blacklisted,
            black_mode_applied,
            provide_yn,
            delivery_status,
            delivered_at,
            delivery_job_id,
            applied_at,
            updated_at
        ) VALUES (
            #{documentSrl},
            #{applicantName},
            #{genderCode},
            #{birthDate},
            #{ageText},
            #{jobText},
            #{organizationText},
            #{mobilePhoneEnc},
            #{mobilePhoneMasked},
            #{telPhoneEnc},
            #{telPhoneMasked},
            #{regionText},
            #{addressEnc},
            #{addressMasked},
            #{extraComment},
            #{priorResearchText},
            #{emailAddressEnc},
            #{emailAddressMasked},
            #{notifyEmailYn},
            #{notifySmsYn},
            #{notifyKeywordYn},
            #{applicationStatus},
            #{isNewApplicant},
            #{isBlacklisted},
            #{blackModeApplied},
            #{provideYn},
            #{deliveryStatus},
            #{deliveredAt},
            #{deliveryJobId},
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
        )
    </insert>
</mapper>
