<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.researchi.admin.publicform.mapper.AdminBlacklistMatchLogMapper">

    <insert id="insert" parameterType="com.researchi.admin.publicform.domain.AdminBlacklistMatchLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO admin_blacklist_match_log (
            application_id,
            blacklist_id,
            match_type,
            action_taken,
            matched_at
        ) VALUES (
            #{applicationId},
            #{blacklistId},
            #{matchType},
            #{actionTaken},
            CURRENT_TIMESTAMP
        )
    </insert>
</mapper>
