<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.researchi.admin.keyword.mapper.AdminApplicationKeywordMapper">

    <resultMap id="adminApplicationKeywordResultMap" type="com.researchi.admin.keyword.domain.AdminApplicationKeyword">
        <id property="id" column="id"/>
        <result property="applicationId" column="application_id"/>
        <result property="keyword" column="keyword"/>
        <result property="keywordNormalized" column="keyword_normalized"/>
        <result property="sourceType" column="source_type"/>
    </resultMap>

    <delete id="deleteByApplicationId">
        DELETE FROM admin_application_keyword
        WHERE application_id = #{applicationId}
    </delete>

    <insert id="insert" parameterType="com.researchi.admin.keyword.domain.AdminApplicationKeyword" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO admin_application_keyword (
            application_id,
            keyword,
            keyword_normalized,
            source_type
        ) VALUES (
            #{applicationId},
            #{keyword},
            #{keywordNormalized},
            #{sourceType}
        )
    </insert>

    <select id="findByApplicationIds" resultMap="adminApplicationKeywordResultMap">
        SELECT
            id,
            application_id,
            keyword,
            keyword_normalized,
            source_type
        FROM admin_application_keyword
        WHERE application_id IN
        <foreach collection="applicationIds" item="applicationId" open="(" separator="," close=")">
            #{applicationId}
        </foreach>
        ORDER BY application_id ASC, id ASC
    </select>
</mapper>
