<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.researchi.admin.keyword.mapper.AdminJobKeywordMapper">

    <resultMap id="adminJobKeywordResultMap" type="com.researchi.admin.keyword.domain.AdminJobKeyword">
        <id property="id" column="id"/>
        <result property="documentSrl" column="document_srl"/>
        <result property="keyword" column="keyword"/>
        <result property="keywordNormalized" column="keyword_normalized"/>
        <result property="sourceType" column="source_type"/>
    </resultMap>

    <delete id="deleteByDocumentSrl">
        DELETE FROM admin_job_keyword
        WHERE document_srl = #{documentSrl}
    </delete>

    <insert id="insert" parameterType="com.researchi.admin.keyword.domain.AdminJobKeyword" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO admin_job_keyword (
            document_srl,
            keyword,
            keyword_normalized,
            source_type
        ) VALUES (
            #{documentSrl},
            #{keyword},
            #{keywordNormalized},
            #{sourceType}
        )
    </insert>

    <select id="findByDocumentSrl" resultMap="adminJobKeywordResultMap">
        SELECT
            id,
            document_srl,
            keyword,
            keyword_normalized,
            source_type
        FROM admin_job_keyword
        WHERE document_srl = #{documentSrl}
        ORDER BY id ASC
    </select>
</mapper>
